html,body,#root {
	width: 100%;
    height: 100%!important;
    background-color:#f6f8fa ;
}
.sign{
    width: 100%;
    height: calc(100vh - 71px)!important;
    background-color: var(--dark) ;
}
.home{
    position: absolute;
    width: 100%;
    min-height: calc(100% - 71px)!important;
    background-color: white;
}
.repo-item{
    min-width: 47%;
    max-width: 47%;
    cursor: pointer;
}
.repo-item h6{
    font-size: 15px;
    margin: 0;
    display: flex;
    align-items: center;
}
.repo-item h5{
    font-size: 15px;
}
.repo-item div{
    margin-bottom: 8px;
}
.repo-item .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.repos{
    display: flex;
    flex-wrap: wrap;
}
.col-md-8 p{
    margin: 10px;
    font-weight: bold;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile img{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
    width: 90%;
}
.info .name{
    font-weight: bold;
    font-size: x-large;
}

.abt .bio{
    color: black!important;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
}


 @media (max-width:  768px) { 
    .repo-item{
        min-width: 96%;
        max-width: 96%;
    }
    .col-md-8{
        margin-top: 10px;
    }
    .profile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .profile .info{
        margin: auto 0 ;
        width: 65%;
    }
    
    .profile img{
        margin-right: 15px;
        width:100%;
    }
    .profile img{
        
        width:100px;
    }
    .abt .bio{
        margin-top: 5px;
        margin-bottom: 5px;
    }
 }