html,body,#root {
	width: 100%;
    height: 100%!important;
    background-color:#f6f8fa ;
}
.sign{
    width: 100%;
    height: calc(100vh - 71px)!important;
    background-color: var(--dark) ;
}
.hero{
    background-color: var(--dark) ;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 50vh ;
    display: flex;
    align-items: center;
}
.hero h1{
    font-size: 70px;
}
.hero p{
    font-size: large;
   
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth{
    font-size: larger;
    background-color: #f6f8fa;
    color: var(--dark);
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 15px rgb(44, 44, 44);
    padding-left: 20px;
    padding-bottom: 15px;
}
.auth p{
  
    margin-top: 10px;
    margin-bottom: 10px;
} 
.auth .btn-success{
    width: 100px;
    height: 50px;

}
.herotwo{
    margin: auto 0;
    text-align: center;
    min-height: calc(50vh - 71px);
    color: var(--dark) ;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.herotwo h1{
    font-weight: bold;
    font-size: 70px;
}

.home{
    position: absolute;
    width: 100%;
    min-height: calc(100% - 71px)!important;
    background-color: white;
}
.repo-item{
    min-width: 47%;
    max-width: 47%;
    cursor: pointer;
}
.repo-item h6{
    font-size: 15px;
    margin: 0;
    display: flex;
    align-items: center;
}
.repo-item h5{
    font-size: 15px;
}
.repo-item div{
    margin-bottom: 8px;
}
.repo-item .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.repos{
    display: flex;
    flex-wrap: wrap;
}
.col-md-9 p{
    margin: 10px;
    font-weight: bold;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
    width: 100%;
}
.info .name{
    font-weight: bold;
    font-size: x-large;
}

.abt .bio{
    color: black!important;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
}
.dev{
    height: fit-content;
    margin: auto 0;
}


 @media (max-width:  768px) { 
    .repo-item{
        min-width: 96%;
        max-width: 96%;
    }
    .col-md-8{
        margin-top: 10px;
    }
    .profile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .profile .info{
        margin: auto 0 ;
        width: 65%;
    }
    
    .profile img{
        margin-right: 15px;
        width:100%;
    }
    .profile img{
        
        width:100px;
    }
    .abt .bio{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .auth{
        border-radius: 0px;
        background-color: var(--dark);
        color: white;
        text-align: left;
        box-shadow: none;
        
    }
    .hero{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .herotwo h1{
        font-size: 60px;
    }
 }